body {
  background-color: #3498db;
}

/* 3498DB, 412065, 175648, B1A061, E9E3D9 */

#container1 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn nav"
    "mn mn mn nav"
    "ft ft ft nav";
}

#container2 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd hd"
    "mn mn mn mn mn"
    "mn mn mn mn mn"
    "ft ft ft ft ft";
}

#container3 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn mn"
    "mn mn mn mn"
    "ft ft ft ft";
}

#logo {
  grid-area: logo;
  grid-row: 1 / -1;     
  align-self: center;   
  justify-self: start;

  height: 150px;
  width: 150px;       
  object-fit: contain;

  display: block;      
  margin: 0;            
}



header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;   /* ⬅ key change */
  grid-template-areas:
    "logo title ."
    ".    links .";
  align-items: center;
  grid-area: hd;
  background-color: blueviolet;
  border-radius: 17px;
  padding: 8px 20px;
  margin-bottom: 10px;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}


.title {
  display: flex;
  flex-direction: column;
  align-self: center;
}

header p {
  grid-area: links;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 5px 9% 0 0;
  padding: 0;
}


header a {
  color: white;
  text-decoration: none;
  font-weight: bold;

}

header a:visited{
color: rgb(172, 116, 224);
}

header h1 {
  grid-area: title;
  justify-self: center;
  margin-right: 9%;
}


main {
  padding: 15px;
  grid-area: mn;
  background-color: bisque;
  border-radius: 17px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

nav {
  padding: 15px;
  display: flex;
  grid-area: nav;
  background-color: brown;
  border-radius: 17px;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
}

footer {
  padding-top: 50px;
  grid-area: ft;
  background-color: yellowgreen;
  border-radius: 17px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

/* 3498db */

section {
  display: flex;
  border-radius: 25px;
  height: 45%;
  width: 18%;
  background-color: red;
  margin: 10px;
  justify-content: center;
  align-content: center;
}

#animalhead {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.cards {
  display: flex;
  width: 50%;
  height: 90%;
  border-radius: 20px;
  margin: 2%;
  align-self: center;
  transition: transform 0.25s;
}

.cards:hover {
  transform: scale(1.25);
}

#påfågel {
  width: 90%;
  border-radius: 20px;
  justify-self: center;
}