body {
  background-color: #3498db;
  margin: 0;
}

/* 3498DB, 412065, 175648, B1A061, E9E3D9 */

#container1 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn nav"
    "mn mn mn nav"
    "ft ft ft nav";
}

#container2 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn nav"
    "mn mn mn nav"
    "ft ft ft nav";
}

#container3 {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 20% 1fr 1fr 0.5fr;
  grid-template-areas:
    "hd hd hd hd"
    "mn mn mn mn"
    "mn mn mn mn"
    "ft ft ft ft";
}

#logo {
  grid-area: logo;
  grid-row: 1 / -1;
  align-self: center;
  justify-self: start;

  height: 150px;
  width: 150px;
  object-fit: contain;

  display: block;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto; /* ⬅ key change */
  grid-template-areas:
    "logo title ."
    ".    links .";
  align-items: center;
  grid-area: hd;
  background-color: #5b7553;
  padding: 8px 20px;
  margin-bottom: 10px;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.title {
  display: flex;
  flex-direction: column;
  align-self: center;
}

header p {
  grid-area: links;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 5px 9% 0 0;
  padding: 0;
}

a {
  width: 150px;

  color: #bff0d4;
  text-decoration: none;
  font-weight: bold;

  margin-top: 15px;

  background-color: rgb(33, 97, 42);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.25s;
}

a:hover {
  transform: scale(1.1);
}

header h1 {
  grid-area: title;
  justify-self: center;
  margin-right: 9%;
}

main {
  padding: 15px;
  grid-area: mn;
  background-color: #003559;
  margin-bottom: 10px;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  padding: 15px;
  display: flex;
  grid-area: nav;
  background-color: #003559;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

footer {
  padding-top: 50px;
  grid-area: ft;
  background-color: #5b7553;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 3498db */

section {
  display: flex;
  border-radius: 25px;
  height: 45%;
  width: 18%;
  background-color: #5b7553;
  margin: 10px;
  justify-content: center;
  align-content: center;
}

#animalhead {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.cards img {
  position: relative;
  display: flex;
  border-radius: 20px;
  align-self: center;
  transition: transform 0.25s;
}

.cards:hover {
  transform: scale(1.25);
}

#påfågel {
  margin-top: 15px;
  width: 90%;
  border-radius: 20px;
  justify-self: center;
}

p,
h1,
h2,
h3 {
  color: #bff0d4;
}

.card-text {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.705);
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
  opacity: 0;
  transition: opacity 0.3s ease;

  pointer-events: none;
  visibility: hidden;
  z-index: 1;
}

.cards:hover .card-text {
  opacity: 1;
  visibility: visible;
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
